# Archivos de la maquina virtual 
venv/
.env/

# Archivos de caché y de compilición de python
__pycache__/
*.pyc

# Archivos de logs y datos que no queremos en el repositorio 
*.log
*.log.* #Eliminate log rotation files

# Archivos del sistema operativo
.DS_Store

